body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul a {
  color: #434455;
  font-style: normal;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

/*------header------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: block;
}

.logo-web {
  color: #2e2f42;
}

.logo-top-panel {
  display: flex;
  align-items: center;
}

.top-panel {
  display: flex;
  gap: 40px;
  margin-right: 0;
}

.link-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.link-bar:hover {
  color: #404bbf;
}

.link-bar:focus {
  color: #404bbf;
}

.heder-address {
  font-style: normal;
}

.list-address {
  display: flex;
  gap: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
}

.address-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-mail:hover {
  color: #404bbf;
}

.address-mail:focus {
  color: #404bbf;
}

/*-----main-----*/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-one {
  padding: 188px 0;
  background: #2e2f42;
  height: 600px;
}

.headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}

.section-one-btn {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  color: #fff;
  margin: 0 auto;
  margin-top: 48px;
  border: none;
}

.section-one-btn:hover {
  background-color: #404bbf;
}

.section-one-btn:focus {
  background-color: #404bbf;
}

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-section-two {
  display: flex;
  gap: 24px;
}

.li-section-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
  height: 104px;
}

.section-three {
  background: #f4f4fd;
}

.headline-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-three-ul {
  display: flex;
  gap: 24px;
}

.section-three-li {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-three-div {
  padding: 32px 0;
}

.headline-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.title-advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-advantages {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-li {
  width: calc((100% - 48px) / 3);
  background: #fff;
}

.section-four-ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.section-four-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  height: 120px;
}

/*-----footer-----*/

.foot {
  background: #2e2f42;
  padding: 100px 0;
  height: 312px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web-footer {
  color: #f4f4fd;
}

.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}
